.bouquet {
    padding-top: 50px;
    padding-bottom: 100px;
    margin-bottom: 50px;

    border-bottom: 5px solid rgba(255,218,233,1);
    position: relative;

    &::before  {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 0;
        width: 100%;
        height: 50px;
        background-repeat: repeat;
        background-image: url('../img/frame1.png');
        z-index: 1;
    }

    &__title {
        @include secondary-title;
        font-weight: 700;
        margin-bottom: 50px;
    }

    &__wrapper {
        background-color: #ffffff;
        box-shadow: $shadow;
        border-radius: 30px;
        padding: 30px 50px;
        position: relative;
        max-height: 470px;
        background-repeat: no-repeat;
        background-position: 55% center;
        background-size: 15%;
        background-image: url('../img/production/bouquet-bg.jpg')
    }

    &__item-wrapper {
        background-color: #ffffff;
        border: 2px solid rgba(255,218,233,1);
        border-radius: 30px;
        box-shadow: $shadow;
        margin: 0 10px;
        padding: 20px;
        margin-bottom: 30px;
    }

    &__subtitle {
        @include secondary-title;
        font-size: 18px;
        text-transform: uppercase;
        color: $secondary-color;
        margin-bottom: 10px;
    }

    &__order{
        @include form-button;
        margin-top: 15px;
        max-width: 300px;
        margin: 0 auto;
        display: block;
        max-width: 120px;
        text-align: center;

        cursor: pointer;
    }

    &__img-wrapper {
        max-width: 500px;
        margin-right: 0;
        margin-left: auto;
        position: absolute;
        top: -40%;
        right: 0;
    }

    &__slide {
        border-radius: 30px;
        box-shadow: $shadow;
        border: 3px solid #ffffff;

        img {
            border-radius: 30px;
        }
    }

    &__desc {
        margin-bottom: 10px;
    }

    &__list {
        list-style: disc;
        padding-left: 15px;
        font-style: italic;
        margin-bottom: 5px;
    }

    &__price {
        font-size: 20px;
        font-family: 'Lemonada', cursive;

        span {
            font-size: 16px;
        }
    }
}

@media (max-width: 1500px) {
    .bouquet {
        &__img-wrapper {
            top: 0;
            width: 300px;
            height: 300px;
        }
    }
}


@media (max-width: 1200px) {
    .bouquet {
        &__wrapper {
            max-height: none;
        }

        &__img-wrapper {
            top: 15%;
        }
    }
}

@media (max-width: 992px) {
    .bouquet {
        &__wrapper {
            background-position: center;
        }

        &__img-wrapper {
            top: 0;
            left: 50%;
            right: auto;
            transform: translateX(-50%);
            order: 1;
        }

        &__desc-order {
            order: 2;
        }

        &__img-order {
            order: 1;
            height: 350px;
        }
    }
}

@media (max-width: 500px) {
    .bouquet {

        &__wrapper {
            padding: 20px 10px;
        }
    }
}