.menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 100px;

    background: rgb(255,255,224);
    background: linear-gradient(0deg, rgba(255,255,224,1) 0%, rgba(255,255,255,1) 80%);
    box-shadow: $shadow;

    z-index: 10;

    &__logo {
        min-width: 100px;
        width: 100px;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__list {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    &__list-item {
        margin: 10px 10px 5px;
    }

    &__link {
        font-family: 'Lemonada', cursive;
        font-size: 16px;
        line-height: 22px;
        color: $primary-color;

        &:hover,
        &:focus {
            color: $secondary-color;
            text-decoration: none;
            transition: all ease .5s;
        }
    }

    &__phone {
        @include secondary-title;
        color: $secondary-color;
        transition: all ease .5s;
        // text-shadow: 1px 2px 1px black;

        &:hover,
        &:focus {
            color: $primary-color;
            text-decoration: none;
            transition: all ease .5s;
        }

        &:active {
            opacity: 0.5;
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        margin: 10px;
        transition: ease .5s all;

        &:hover {
            transform: scale(1.2);
            transition: ease .5s all;
        }
    }

    &__insta {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain;
        background-image: url('../img/instagram.svg');
    }

    &__whatapp {
        width: 30px;
        height: 30px;
        border-radius: 7px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain;
        background-image: url('../img/whatsapp.svg');
    }

    &__button {
        display: block;
        width: 30px;
        height: 30px;
        border: 2px solid $primary-color;
        border-radius: 10px;
        position: relative;
        transition: ease .5s all;

        display: none;

        span {
            display: block;
            position: absolute;
            top: calc(50% - 2px);
            left: 3px;
            width: 20px;
            height: 3px;
            border-radius: 5px;
            background-color: $primary-color;
            transition: ease .5s all;

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                width: 20px;
                height: 3px;
                border-radius: 5px;
                background-color: $primary-color;
                transition: ease .5s all;
            }

            &::before {
                top: -6px;
            }
            &::after {
                bottom: -6px;
            }
        }

        &:hover {
            border: 2px solid $secondary-color;
            transition: ease .5s all;
            span {
                background-color: $secondary-color;
                transition: ease .5s all;

                &::before,
                &::after {
                    background-color: $secondary-color;
                    transition: ease .5s all;
                }
            }
        }
    }

    &__button.closed {
        span {
            transform: rotate(45deg);
            transition: ease .5s all;

            &::before {
                opacity: 0;
            }
            &::after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: ease .5s all;
            }
        }
    }
}


@media (max-width: 1365px) {
    .menu {
        &__phone {
            font-size: 20px;
        }

        &__copyright {
            width: 330px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 992px) {
    .menu {
        padding: 0 20px;
        &__list {
            position: absolute;
            top: 100px;
            left: 0;
            right: 0;

            flex-direction: column;
            text-align: center;

            background: rgba(255,255,224,1);

            z-index: 9;
            transform: translateY(-300px) scale(0);
            transition: ease .5s all;
        }

        &__list.active {
            transform: translateY(0) scale(1);
            transition: ease .5s all;
        }

        &__navigation {
            order: 3;
        }

        &__copyright {
            width: 200px;
            order: 2;
        }

        &__button {
            display: block;
        }
    }
}

