.popup-info {
    padding: 30px;
    background-color: $bg-color;
    border: 3px solid rgba(255,218,233,1);
    border-radius: 30px;

    &__container {
        display: flex;
    }

    &__title {
        @include secondary-title;
        color: $secondary-color;
        text-align: center;
        margin-bottom: 30px;
    }

    &__img-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 50%;
        padding: 20px;

        img {
            width: 100%;
            height: auto;
            border: 1px solid rgba(255,218,233,1);
            border-radius: 30px;
        }
    }

    &__desc-wrapper {
        width: 50%;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    &__desc {
        margin-bottom: 30px;
    }

    .popup-form__title {
        font-size: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-field {
        width: 100%;
        margin-bottom: 15px;
        padding: 10px;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid $primary-color;
        background-color: transparent;
        max-width: 300px;

        outline: none;

        &::placeholder {
            color: rgba($color: #FF506F, $alpha: 0.5);
        }
    }

    .form-button{
        @include form-button;
        margin-top: 15px;
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    .popup-info {
        &__img-wrapper {
            display: none;
        }

        &__desc-wrapper {
            width: 100%;
            padding: 0;
        }
    }
}
